body{
  font-family: 'Roboto', sans-serif;
}
p{
  margin: 0px !important;
}
.karachiC{
  background-color: black;
  color: white;
  height: 2.3rem;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 16px;
}
.karachiP{
  height: 2.55rem;
  background-color: #7bae23;
}
.customcare{
  display: flex;
  justify-content: flex-end;
  background-color: #ececec;
  font-size: 0.9rem;
  height: 1.5rem;
}
.customcare > p{
  padding-left: 1rem;
}
.custom{
  padding-right: 8rem;
}
.logHeader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  font-size: 2rem;
}
.searchInput{
  margin-top: 1rem;
  width: 40% !important;
  height: 50px;
  
}
.searchInput> input,button{
  border-radius: 0px !important; 
  background-color: #e96125 !important;
  border-color: #e96125 !important;
}
.logHeader>p:nth-child(1){
  font-weight: 900;
  font-size: 2.5rem;
}

nav,.sliderP,.deliveryP,.cardsliderP{
 display: flex !important;
 justify-content: center;
 
}
nav{
  position: sticky !important;
  top:1px;
  z-index: 1;
}
.navC{
  padding-right: 10rem;
    width: 85%;
    align-items: center;
    text-transform: uppercase;
    background-color: #7bae23;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}
.navX{
  padding-right: 10rem;
    width: 100% !important;
    align-items: center;
    text-transform: uppercase;
    background-color: #7bae23;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}
.navC > a{
  color: white;
}
.sliderP{
  margin-top: 0.5rem;
}
.deliveryP,.cardsliderP,.categoriesP,.onlineSuper,.pageMsg{
  margin-top: 3rem;
}
.parent,.slideOne,.slideTwo{
  height: 390px;
}
.parent{
display: flex;
  width: 85%;
  justify-content: space-between;
  
}
.slideOne{
  width: 29%;
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slideTwo{
  width: 70%;
 
}
.advOne,.advTwo{
  height: 192px;
}
.advOne{
  background-color: violet;
}
.advTwo{
  background-color: yellowgreen;
}
.deliveryP{
  height: 80px;
  background-color: #f9f9f9;
}
.delivery,.deliveryOne{
  height: 4.9rem;
}

.delivery{
  width: 85%;
  display: flex;
  justify-content: space-between;
 
}
.deliveryOne{
  display: flex;
 border-right: 1px solid white;
 width: 33%;
}
.cardsliderP{
  display: flex !important;
  flex-direction: column;
  align-items: center;
  background-color:#f9f9f9;
}
.mo{
  padding-top: 2rem;
  border-bottom: 1px solid #e1e1e1;
  width: 85%;
}
.cardslider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
width: 85%;


}
.ant-card-cover > *{
  height: 153px !important;
}
.categoriesP{
  background-color:#f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoriesC{
  display: flex;
  height: 150px;
  background-color: white;
  width: 48%;
  justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
.categoriesContent{
  width: 70%;
  

}
.categories{
  width: 85%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.categories-heading{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 6.5rem;
}
.categoriesImg{
background-image: url("./assets/one.jpg");
height: 100px;
width: 200px;
background-size: contain;
background-repeat: no-repeat;
}
.onlineSuper{
  background-color: #f9f9f9;
  padding-top: 1rem;
    padding-left: 1rem;
}
.pageMsg{
  background-color: #f9f9f9;
  height: 300px;
  width: 100%;
}
footer{
  background-color: #272723;
  height: 400px;
  width: 100%;
}
.logoOne{
  color:black
}
.logoTwo{
  color: #7bae23;
}
.logoSizeOne,.logoSizeTwo{
  font-size: 3rem;
}
.deliveryImg{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
 
    width: 14%;
}
.deliveryContent{
  display: flex;
  flex-direction: column;
  width: 80%;
}
h3{
  margin: 0px !important;
}
.ant-list-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between  ;
}
.ant-list,.ant-list-split{
  width: 100% !important;
}
.card-inner{
  /* width: 164px; */
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;;
}
.card-inner > .ant-btn{
  border-radius: 20px !important;
  font-size: 0.65rem !important;
  font-weight: bold !important;
}
.card-inner > p{
  font-size: 1.2rem;
}
.ant-badge{
  font-size: 2rem !important;
}
.drawer{
  display: flex;
    flex-direction: column;
    justify-content: space-between
}
.cart-item{
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0px;
    border-bottom: 1px dotted;
}
.totalOne{
  display: flex;
  justify-content: space-between;
}
.counter-part{
  display: flex;
  justify-content: space-evenly;
}
.ant-drawer-body{
  padding: 1px !important;
  height: 537px;
  
  display: flex;
  flex-direction: column;
 
}
.abc{
  background-color: #7bae23;
}
.ant-drawer-content-wrapper{
  width: 380px !important;
}
.drawer-button{
  /* margin-top: 29rem; */
  width: 90% !important;
  margin-left: 1rem;
  /* margin-bottom: 1rem; */
}
.ant-drawer-header{
  background-color: #7bae23 !important;
 
}
.ant-drawer-title{
  color: white !important;
}
.adb{
  margin-left: 2.5rem !important;
}