body{
  font-family: 'Roboto', sans-serif;
}
p{
  margin: 0px !important;
}
.karachiC{
  background-color: black;
  color: white;
  height: 2.3rem;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 16px;
}
.karachiP{
  height: 2.55rem;
  background-color: #7bae23;
}
.customcare{
  display: flex;
  justify-content: flex-end;
  background-color: #ececec;
  font-size: 0.9rem;
  height: 1.5rem;
}
.customcare > p{
  padding-left: 1rem;
}
.custom{
  padding-right: 8rem;
}
.logHeader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6rem;
  font-size: 2rem;
}
.searchInput{
  margin-top: 1rem;
  width: 40% !important;
  height: 50px;
  
}
.searchInput> input,button{
  border-radius: 0px !important; 
  background-color: #e96125 !important;
  border-color: #e96125 !important;
}
.logHeader>p:nth-child(1){
  font-weight: 900;
  font-size: 2.5rem;
}

nav,.sliderP,.deliveryP,.cardsliderP{
 display: flex !important;
 justify-content: center;
 
}
nav{
  position: sticky !important;
  top:1px;
  z-index: 1;
}
.navC{
  padding-right: 10rem;
    width: 85%;
    align-items: center;
    text-transform: uppercase;
    background-color: #7bae23;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
}
.navC > a{
  color: white;
}
.sliderP,.deliveryP,.cardsliderP,.categoriesP,.onlineSuper,.pageMsg{
  margin-top: 3rem;
}
.parent,.slideOne,.slideTwo{
  height: 360px;
}
.parent{
display: flex;
  width: 85%;
  justify-content: space-evenly;
  
}
.slideOne{
  width: 30%;
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slideTwo{
  width: 68%;
  background-color: turquoise;
}
.advOne,.advTwo{
  height: 177px;
}
.advOne{
  background-color: violet;
}
.advTwo{
  background-color: yellowgreen;
}
.deliveryP{
  height: 80px;
  background-color: #f9f9f9;
}
.delivery,.deliveryOne{
  height: 4.9rem;
}

.delivery{
  width: 85%;
  display: flex;
  justify-content: space-between;
 
}
.deliveryOne{
 background-color: lightsalmon;
 width: 32.9%;
}
.cardsliderP{
  display: flex !important;
  flex-direction: column;
  align-items: center;
  background-color:#ececec;
}
.cardslider{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
width: 85%;
height: 250px;
border-top: 1px solid black;
}
.ant-card-cover > *{
  height: 153px !important;
}
.categoriesP{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoriesC{
  display: flex;
  height: 150px;
  background-color: lightpink;
  width: 48%;
  justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
.categories{
  width: 85%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categoriesImg{
background-image: url("./assets/one.jpg");
height: 100px;
width: 200px;
background-size: contain;
background-repeat: no-repeat;
}
.onlineSuper{
  background-color: #f9f9f9;
  padding-top: 1rem;
    padding-left: 1rem;
}
.pageMsg{
  background-color: #f9f9f9;
  height: 300px;
  width: 100%;
}
footer{
  background-color: #272723;
  height: 400px;
  width: 100%;
}
