.Cat{
    /* margin-top: 150px; */
    /* position:fixed; */
    position: sticky !important ;
    position: -webkit-sticky;

    height: 80px ;
    width: 100%;
    display: flex;
    

    /* overflow: hidden; */
    z-index: 1;
    background-color: white;
    top: 0;
    display: flex;
    justify-content: space-around;



}

.navbar {

    overflow: hidden;
    z-index: 1;
    height: 40px ;
    background-color: white;
    position: fixed;
    margin-top:20px;
    top: 0;
    width: 85%;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;

  }


.Category{
   
    margin: 14px auto;
    height: 40px;
    width:85%;
    /* background-color: white; */
    background-color: #7bae23;
    }

.mylist li{
    
    list-style: none;
    display: inline-block;
    color: white;
    margin: 10px;

    /* text-align: center; */
    /* float: right; */
}
.mylist {
display:flex;
justify-content: flex-start;
}