.login {
    padding: 0;
    margin: 20vh 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  