.Logodiv{
    width: 100%;
    height: 80px;
    background-color:white;
    background-color: white;

}
#mylabel{
    font-weight: bold;
    font-size: 35px;
    color:black
}
.mycart{
    font-size: 40px;
    color: green;
    
    /* background-color: green; */
}
#abc{
    width: 400px;
    height: 35px;
    border-top-right-radius:0px; 
    border-bottom-right-radius:0px; 


}
#bcd{
    height: 35px;
    border-radius:0px; 
    border-radius:0px; 
    background-color: #e96125;
}

.items {
    padding: 20px ;
    display: flex;
    justify-content:space-around;

}