.cate-page{
    display: flex;
    margin-top: 2rem;
  
}
.side-nav{
 
    width: 20%;
    margin-left: 6.4rem;
}
.page-content{
    width: 80%;
}
.ant-menu-vertical{
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    /* border-bottom: 1px solid #e8e8e8; */
}
.ant-menu-item{
    border-bottom: 1px solid #e8e8e8; 
}
.side-nav-information{
    display: flex;
    align-items: center;
}
.side-nav-information,.page-content>*{
 padding-left: 1rem
}
.side-nav-information > p , i {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.side-nav-information-one{
    width: 91%;
    display: flex;
    justify-content: space-between;
}
.side-nav-information-one > p{
    font-size: 0.8rem;
    font-weight: bold;
}
.tab-pane{
    width: 90%;
}