.menu {
  position: sticky;
  top:0;
  width: 15%;
  margin-left: 9rem;
}
.breadcrumb {
  width: 50%;
  margin-right: 6rem;
  height: 10%;
}
.parent {
  display: flex;
  align-content: space-between;
}
.heading {
  display: flex;
}
.dropdown {
  height: 10%;
  margin-left: 9rem;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
}

.bdmenu {
  margin-top: 1rem;
  height: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.bdparent {
  width: 85%;
  height: 900px;
}
.card-div {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
