
.parentdiv{
    margin-bottom: 150px;
}
.parentdiv1{
    background-color:#f9f9f9 ;
    /* background-color: pink; */
    height: 1100px;
}
#mylabel{
    font-size: 20px;
    font-weight: bold;
}
#nd{
    bottom: 40px;
    margin-left: 12%;
    margin-bottom: -30px;
    /* padding-top: 80px; */
}
#myline{
    width: 85%;
}
.mob{
    color: black;
    font-size: 20px;
}
.mobileimg{
    width:100%;
    height: 100%;
}
.parentdiv{
    width: 100%;
    height: 800px;
    /* margin: 40px auto; */
}
.Mobilediv{
    height:50%;
    width:80%;
    background-color:#f9f9f9;
    /* background-color:black; */

    display:flex;
    justify-content: space-around;
    justify-content: center;
    margin:40px auto;
    /* background-color: white; */

    
}
.one{
    width:30%;
    height: 70%;
    background-color: black;
    margin:40px;
}